tensorrt==10.1.0
tensorrt-cu12==10.1.0
colored
controlnet_aux
cuda-python
diffusers
ftfy
matplotlib
nvtx
onnx
onnxruntime
opencv-python
scipy
transformers
nvidia-modelopt
onnx-graphsurgeon
polygraphy
sentencepiece
accelerate
imagehash
timm
DeepCache
tritonclient[all]